*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    font-weight: 400;
}

body{
    background-color: rgb(124, 218, 239);
    padding: 104px 306px 0 306px;
}

.container{
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.blue{
    background-color: rgba(14, 74, 126, 0.7);
    padding: 99px 79px 176px 78px;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
}

h1{
    margin-bottom: 24px;
    font-weight: 700;
}

p{
    text-align: justify;
    margin-bottom: 26px;
}

h2{
    margin-top: 10px;
    margin-bottom: 51px;
    font-weight: 700;
}

.blue img{
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.cloud-left{
    position: absolute;
    top: 179px;
    left: -205px;
}

.cloud-right-top{
    position: absolute;
    top: -59px;
    right: -156px;
    z-index: 2;
}

.cloud-right-below{
    position: absolute;
    top: 450px;
    right: -206px;
}


.grass{
    background-image: linear-gradient(to top, rgb(45, 144, 47) 0%, transparent 20%, transparent 50%), url("../img/grass.png");
    background-size: cover;
    background-position: 50% 50%;
    height: 132px;
    width: 100%;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
}



